<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crm.mapper.OperationLogMapper">

    <insert id="addOperationLog">
        insert into operationlog (id,operationlog.level,operation_unit,method,args,uid,operationlog.describe,operation_type,run_time,return_value,operation_date)
        values (#{id},#{level},#{operationUnit},#{method},#{args},#{uid},#{describe},#{operationType},#{runTime},#{returnValue},#{operationDate})
    </insert>
</mapper>