<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crm.mapper.UserMapper">
    <!--    注册账号-->
    <insert id="addUser"  useGeneratedKeys="true">
        insert into user (username,password,uphone) values (#{username},#{password},#{uphone})
        <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id" >
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>
    <select id="login" resultType="com.crm.beans.User">
        select * from user where 1=1
        <if test="username !=null and username !=''">
            and username = #{username}
        </if>
    </select>

    <select id="getUserByUid" resultType="java.lang.Boolean">
        <!--  返回1代表true  返回0代表false      -->
        <![CDATA[ select count(id) from user where username=#{username} ]]>
    </select>

    <select id="getAllUser" resultType="com.crm.beans.User">
        select * from user where 1=1
        <if test="uphone!= null and uphone !=''">
            and uphone like '%${uphone}%'
        </if>
        <if test="username !=null and username !=''">
            and username like '%${username}%'
        </if>
    </select>

    <update id="restPassword">
        update user set password =#{newpassword} where username =#{username}
    </update>
    
    <update id="updateuserInfo">
        update user set uphone =#{uphone} where username =#{username}
    </update>



    <!--    实名认证后,向user表的realName中写入UserInfo的id-->
    <update id="setRealNameFlag">
        update user set
        <if test="userInfoId !=null and userInfoId != ''">
            realname_flag=#{userInfoId}
        </if>
        where
        <if test="uid !=null and uid != ''">
            uid=#{username}
        </if>

    </update>
</mapper>